*{
    margin: 0;
    padding: 0;
}
.logo{
    width: 160px;
    color: whitesmoke;
    cursor: pointer;
    margin-left: -2%;
    margin-top: 3%;
}
.main{
    width: 100%;
    background-image: url(bg.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    font-family: sans-serif;
}
.navbar{
    width: 86%;
    display: flex;
    margin: auto;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
}
ul {
    margin-top: -2%;
}
ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
}
ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: darkslategray;
    margin-top: -3%;
    transition: 0.4s ease;
}
ul li a:hover{
    color: white;
    padding: 10px;
    background-color: rgb(230, 104,59);
    border-radius: 5px;


}
.info{
    margin-left: 6%;
    margin-top: 6%;
}
.info h1{
    font-size: 65px;
    color: rgb(30,32,30);
}
.info h3{
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 24px;
}
.info span{
    color: rgb(230, 104,59);
}
.info a{
    text-decoration: none;
    color: #fff;
    background: rgb(30,32,30);
    margin: 26px;
    margin-left: 0px;
    padding: 10px 18px;
    border-radius: 10px;
    display: inline-block;
}
.button:hover{
    background:rgb(230, 104,59);
    color: #fff;
}
.image{
    width: 30%;
    height: 60%;
    position: absolute;
    right: 100px;
    bottom: 0;
}
.image img{
    position: absolute;
    height: 140%;
    left: 40%;
    transform: translate(-55%);
    bottom: 0;
    transition: left 2s ease;
}
.image:hover .my{
    left: 55%;

}
.size{
    height: 1%;
    padding: 1px;
    margin-left: 100px;
}
body{
    overflow: hidden;
}
.resize{
    margin-top: 250px;
}